 

  
  
    <!-- Input for Country Name -->
    <input type="text" value="<%= country.name %>" placeholder="Country Name" name="Country Name" id="">
     <!-- Input for Capital -->
    <input type="text" value="<%= country.capital %>" placeholder="Enter the Capital name" name="capital" id="">
     <!-- Input for Description -->
    <input type="text" value="<%= country.description %>" placeholder="Description" name="description" id="description">
    <!-- Input for Photo Link -->
    <input type="text" value="<%= country.image %>" placeholder="Enter the photo link" name="image" id="image">
    
    <button  type="submit" >Submit</button>
 
              
           
   

 



 
      