<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/output.css" rel="stylesheet">
    <title>Travel blog</title>
</head>
<body> 

<nav class="desktop-nav flex items-center justify-between bg-[#A6F0FD] shadow-md p-4">
    <div class="logo">
        <img src="../img/travel.jpg" alt="travel" width="70" height="70">
    </div>
    <div class="block lg:hidden">
        <button class="text-gray-500 focus:outline-none" id="menu-toggle">
            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
            </svg>
        </button>
    </div>
    <div class="hidden lg:flex lg:items-center lg:space-x-4" id="navbarNav">
        <ul class="nav-links flex space-x-4">
            <li><a class="text-lg text-gray-700 hover:text-gray-900" href="/">Home</a></li>
            <li><a class="text-lg text-gray-700 hover:text-gray-900" href="/form">Form</a></li>
            <li><a class="text-lg text-gray-700 hover:text-gray-900" href="/Contact">Contact</a></li>
        </ul>
    </div>
</nav>

<!-- Ajout du script pour le menu mobile -->
<script src="/script/script.js"></script>
</body>
</html>
