<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmation</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav class="desktop-nav">
        <div class="logo"><img src="../img/travel.jpg" alt="travel" width="70" height="70"></div>
        <div>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/form">Form</a></li>
                <li><a href="#Contact">Contact</a></li>
            </ul>
        </div>  
    </nav>
    <div class=" confirmation">
        <h1>Information Saved Successfully!</h1>
        <p>Your country has been added to the database.</p>
        <a href="/">Go back to the form</a>
    </div>
</body>
</html>
