<%- include('./layouts/header.ejs') %>

<body class="flex flex-col min-h-screen"> 
    <main class="flex-grow">
        <!-- Contenu principal de la page ici -->
    </main>

    <script src="/script/script.js"></script>
</body>
<%- include('./layouts/footer.ejs') %>
