<%- include('./layouts/header.ejs') %>


<section  class="container" id="blog">
    <div class="wrapper">
        <h1 class="sign-up">Add new country</h1>
            

            <form action="/api/countries" method="post">
               
                <%- include('layouts/_form_fields') %>

            </form>
      
    </div>
</section>

<%- include('./layouts/footer.ejs') %>
 
 