<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body> 
    
<nav class="desktop-nav">
    <div class="logo"><img src="../img/travel.jpg" alt="travel" width="70" height="70"></div>
    <div>
        <ul class="nav-links">
            <li><a href="#home">Home</a></li>
            <li><a href="#About">About</a></li>
            <li><a href="#Contact">Contact</a></li>
        </ul>
    </div>
    
</nav>
<section class="section-container">
     
    <div class="container">
        <!-- Title section -->
        <div class="title">Enter the information</div>
        <div class="content">
          <!-- Registration form -->
          <form action="#">
            <div class="user-details">
              <!-- Input for Full Name -->
              <div class="input-box">
                <span class="details">Country Name</span>
                <input type="text" placeholder="Enter the country name" required>
              </div>
              <!-- Input for Username -->
              <div class="input-box">
                <span class="details">Capital</span>
                <input type="text" placeholder="Enter the Capital name" required>
              </div>
              <!-- Input for Email -->
              <div class="input-box">
                <span class="details">Description</span>
                 
                <textarea placeholder="Enter your description" required rows="4" style="width: 100%; height: 100px;"></textarea>
              </div>
        
            </div>
      
            <!-- Submit button -->
            <div class="button">
              <input type="submit" value="Submit">
            </div>
          </form>
        </div>
      </div>
    
    
</section> 
 
</body>
</html>